<nav class="bg-transparent pt-2 md:pt-4 leading-none">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <ol class="flex items-center space-x-2 text-sm font-semibold">
            <li>
                <a href="/index.html" class="text-gray-400 hover:text-primary-green transition-colors">
                    Главная
                </a>
            </li>
            <li class="flex items-center space-x-2">
                <i class="fas fa-chevron-right text-[11px] text-gray-300 transform translate-y-[1.5px]"></i>
                <span id="current-page-name" class="text-gray-700"></span>
            </li>
        </ol>
    </div>
</nav>